---
import Layout from "../../layouts/Layout.astro";
import AdminEventList from "../../components/panel/AdminEventList.vue";
import { redirectIfNotAuthenticated } from "../../middleware/auth";
---

<Layout title="Admin - Gestión de Eventos">
  <main class="container mx-auto px-4 py-8">
    <AdminEventList client:load />
  </main>
</Layout>

<script>
  import { redirectIfNotAuthenticated } from "../../middleware/auth";
  redirectIfNotAuthenticated();
</script>
